.gallery {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.gallery img {
    width: 95%;
    object-fit: cover;
    border-radius: 5px;
}

@media screen and (min-width: 768px){
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
    .gallery img:nth-of-type(3) {
        grid-area: 1 / 2 / 3 / 4;
    }
}